*{
    margin:0;
    padding: 0;


}
body{
	background-color: whitesmoke;
	font-family: sans-serif;
	margin: 0;
}




header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.form-box{
    width: 970px;
    height: 555px;
    position: relative;
    margin: 6% auto;
    background: #348DCE;
    padding:5px;
    border-radius: 40px;
   
}
.perfil{
 
    margin-top: 40px;
    width: 250px;
    height:485px;
    position: absolute;
    margin-right: 20px;
    background: #348DCE;
    padding:5px;
    border-radius: 40px;
    margin-left: 40px;
    
}
.perfil img{
    margin-top: 30px;
    padding-left: 75px;
    width: auto;
    height: auto;
    margin: 0 auto;
    max-width: 90px;
    max-height: 100px;
    margin-top: 20px;
    float: none;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.slider{
    padding-right: 50px;
    width: 650px;
    height:275px;
    float: right;
    margin-right: 20px;
    background: #348DCE;
    padding:3px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

input[type=radio]{
    display: none;
}

.container2{
    margin-top: 90px;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.cards{
    position: relative;
    width: 100%;
    height: 100%;

}

.card{
    position: absolute;
    width: 40%;
    height: 50%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) ;


}
.container2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}


#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    z-index: 0;
    opacity: 0.6;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
  
}
.container3{
    padding-right: 50px;
    width: 650px;
    height:175px;
    float: right;
    margin-right: 20px;
    background: #348DCE;
    padding:3px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    
}
.horario{
    width: 170px;
    height:105px;
    margin-left: 50px;
    background: #348DCE;
    padding:5px;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 1px;
    float: left;
    
    
}
.Calificacion{
    width: 170px;
    height:85px;
    margin-left: 50px;
    background: #348DCE;
    padding:5px;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
    justify-items: center;
    
    
}
.contactar{
    width: 150px;
    height:55px;
    margin-left: 50px;
    background: #348DCE;
    padding:5px;
    border-radius: 40px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
    justify-items: center;
    
}
.contactar a{
    display: block;
    width: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgba(62, 164, 237),rgb(13, 102, 166));
    border-radius: 10px;
    padding: 15px 30px;
    color:antiquewhite;
    text-decoration: none;
}



 .redes{
	background-color: black;
	color: white;
	height: 100px;
	text-align: center;
	padding: 20px;
	min-width: 60%;
}



.container{
    max-width: 1400px;
    margin: auto;
}

.calceta { 
    color: rgb(14, 14, 232);
}

header {
    background-color: black;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: rgb(14, 14, 232);
}

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    #ali {
        width: 50px;
        height: 40px;
        margin: 0 5px;
    }


    @media (max-width:700px){
        header{
            flex-direction: column;
        }
    
        nav{
            padding: 10px 0px;
        }
    
    }    