body{
	background-color:white;
	font-family: sans-serif;
	margin: 0;
}






/*pagina principal letras arriba a la derecha*/
.logo{
display: flex;
align-items: left;
text-align: left;
}

a{
	text-decoration: none;
	color: black;

}

nav a{
	font-weight: 600;
	padding-right: 10px;
	


}

nav a:hover{
	color: #0474C4;
}

@media (max-width:700px){
	header{
		flex-direction: column;
	}

	nav{
		padding: 10px 0px;
	}
}


/* Body datos personales*/

.in-flex{
	background-color: #348DCE;
	margin-top: 105px;
	padding: 5px;
	border-radius: 50px;
	width: 38%;
    margin: 6%auto;
	height: 100%;
	float: left;
	margin: 50px;

}

p{
	display: inline-block;
	width: 500px;
}
h1{
    color: white;
}

label{
	display: inline-block;
	width: 100px;
	text-overflow: 10px;
	padding: 2px;
	margin-left: 0px;
	height: 5px;
	font-weight: bolder;
	font-size: large;
	font: 5px;
}

.registro{
	display: inline-block;
	width: 305px;
	height: 100px;
	border-radius: 20px;
	color: black;
	background-color: whitesmoke;
	height: 25px;
	text-decoration: none;
	text-align: center;
	margin-bottom: 20px;

}

.boton{
	background-color: black;
	display: block;
	width: 200px;
	margin: 0 0;
	border-radius: 200px;
	text-decoration: none;
	line-height: 19px;
	text-align: center;
	padding: 15px;
	font-weight: bolder;
	color: white;
	margin-bottom: 20px;
	float: right;
}

.boton:hover {
	background-color: white;
	color: black;
}

.boton2{
	background-color: black;
	display: block;
	width: 200px;
	margin: 0 0;
	border-radius: 200px;
	text-decoration: none;
	line-height: 19px;
	text-align: center;
	padding: 15px;
	font-weight: bolder;
	color: white;
	margin-bottom: 20px;
	float: left;
}

.boton2:hover {
	background-color: white;
	color: black;
}

.redes{
	background-color: black;
	color: whitesmoke;
	height: 100px;
	text-align: center;
	padding: 20px;
	min-width: 60%;
}

.in-flexdos{
	background-color: #348DCE;
	margin-top: 105px;
	padding: 25px;
	border-radius: 50px;
	width: 35%;
    margin: 6%auto;
	height: 100%;
	float: right;
	margin: 50px;

}


.container {
    max-width: 1400px;
    margin: auto;
}

.calceta { 
    color: rgb(14, 14, 232);
}

header {
    background-color: black;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

header a:hover {
    color: rgb(14, 14, 232);
}

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }



